<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CTT2_SourceAccount" value="E:\ctt_Core2.0_NET\CT2.0_Samples\ProviderSample\accounts\source.xml" />
		<add key="CTT2_TargetAccount" value="E:\ctt_Core2.0_NET\CT2.0_Samples\ProviderSample\accounts\target.xml" />
		<add key="CTT2_ConnectionContext_Folder" value="E:\ctt_Core2.0_NET\CT2.0_Samples\ProviderSample\data\" />
	</appSettings>
</configuration>